{% extends "theme/base.html" %}
{% load static %}

{% block content %}
<div class="container pt-3">
    <article class="card col-md-12 flat-style p-5">
        <div class="card-inner card-vertical  d-flex flex-column justify-content-between">
            <div class="entry-header">
                <h1>Über das Projekt</h1>
            </div>
            <div class="entry-content">
                <p>Das Österreichische Biographische Lexikon (ÖBL) setzt eine Tradition der lexikalischen Biographik fort, die auf Constantin von Wurzbach und sein sechzigbändiges „Biographisches Lexikon des Kaiserthums Oesterreich“ (erschienen 1856-1891) zurückgeht. Noch während des Ersten Weltkriegs begannen an internationalen Vorbildern orientierte Vorarbeiten zu einer Fortsetzung von Wurzbachs Lexikon, die zu einem Teil in der Publikationsreihe „Neue Österreichische Biographie“ (1923-1987) veröffentlicht wurden.</p>
                <p>Nach dem Zweiten Weltkrieg wurde zu diesem Zweck eine Kommission bei der Österreichischen Akademie der Wissenschaften eingerichtet, mit dem Ziel, ein neues, nach wissenschaftlichen Kriterien erarbeitetes Biographisches Lexikon herauszugeben. Heute ist das ÖBL das einzige enzyklopädische Werk, das Lebens- und Karriereverläufe bedeutender Persönlichkeiten des gesamten Gebiets der ehemaligen österreichisch-ungarischen Monarchie sowie der Ersten und Zweiten Republik erfasst. Dabei ist es der Redaktion ein wesentliches Anliegen, gerade auch jene Persönlichkeiten zu berücksichtigen, die nicht im Vordergrund des allgemeinen Bewusstseins stehen und deren Lebensläufe andernorts oftmals unzureichend dargestellt werden.</p>
                <p>Mit dem Aufbau der Online-Edition wurde 2004 begonnen, seit 2009 stehen die Biographien open access im Netz. Die Online-Edition enthält nunmehr vertiefte Suchmöglichkeiten, die über die Volltextsuche hinausreichen, und bietet ergänzendes Bild- und Tonmaterial (Bildarchiv Austria der Österreichischen Nationalbibliothek, Albertina, Österreichische Mediathek) und weiterführende Links an, die im Wege entsprechender Kooperationen zur Verfügung gestellt werden.</p>
                <p>Seit 2009 ist das ÖBL auch Mitglied des „<a href="https://www.biographie-portal.eu/">Biographie-Portals</a>“, basierend auf einer Kooperation zwischen der Bayerischen Staatsbibliothek, der Historischen Kommission bei der Bayerischen Akademie der Wissenschaften, der Österreichischen Akademie der Wissenschaften und des Historischen Lexikons der Schweiz.</p>
                <p>Die Online-Edition wird auch nach Fertigstellung der parallel erscheinenden Druckfassung des ÖBL kontinuierlich fortgeführt und ergänzt werden.</p>
                <p>Wien, im März 2020</p>
            </div>
        </div>
    </article>
</div>
{% endblock content %}
