{% load staticfiles %}
<div class="sectionheader">
        <h5 class="sectiontitle">Zugang zum Österreichischen Biographischen Lexikon</h5>
      </div>
        <div class="card-wrapper">
          <!-- #post-## -->
          <article class="card col-md-12 flat-style basecard">
            <div class="card-inner card-vertical  d-flex flex-column justify-content-between">
                <div class="entry-header">
                <h5 style="text-align:center">Features</h5>
                </div>
                <div class="entry-content pt-2">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                    <ul>
                        <li>Vollzugriff auf alle Artikel des gedruckten Lexikons und der Onlineausgabe</li>
                        <li>Volltextsuche</li>
                        <li>Illustrationen aus den Beständen der ÖBL-Kooperationspartner</li>
                        <li>auch als mobile Lösung für Smartphones</li>
                        <li>Vollzugriff auf alle Artikel des gedruckten Lexikons und der Onlineausgabe</li>
                        <li>Volltextsuche und kombinierte Suche (Namen, Berufsgruppen, Geburts- und Sterbejahre)</li>
                        <li>zusätzliche multimediale Ausstattung mit Videos, Bild- und Tonmaterial (kontinuierlicher Ausbau)</li>
                        <li>Verlinkungen innerhalb des ÖBL und zu anderen biographischen Lexika (kontinuierlicher Ausbau)</li>
                    </ul>
                </div>
                </div>
                </div>
                <footer class="entry-footer">
                    
                </footer>
            </div>
            <!-- .card-inner -->
          </article>
          </div>