<!DOCTYPE html>
{% load static %}
{% load webpage_extras %}
{% load browsing_extras %}
{% load infos_extras %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %} Geschichte der Akademie {% endblock %}</title>

    <!-- Fundament -->
    <!--<link href="https://shared.acdh.oeaw.ac.at/fundament/dist/fundament/css/fundament.min.css" rel="stylesheet">-->
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@x.x.x/dist/select2-bootstrap4.min.css">-->
    <link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.css" >
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://fundament.acdh.oeaw.ac.at/html/dist/fundament/vendor/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.4.0/nouislider.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.full.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.4.0/nouislider.min.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Custom styles for this template -->
    <script src="https://unpkg.com/feather-icons@4.28.0/dist/feather.min.js"></script>
    {% load sass_tags %}
    <link href="{% sass_src 'theme.scss' %}" rel="stylesheet" type="text/css" />
    <!--<link rel="stylesheet" href="{%static 'theme/css/main.css' %}" />-->
    <!--<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />-->
    <!--
      this global event bus is used as a simple
      means of communication between components.
    -->
    <script type="text/javascript">
    class EventBus {
      constructor() {
        this.bus = document.createElement('fakeelement');
      }
      on(event, callback) {
        this.bus.addEventListener(event, callback)
      }
      off(event, callback) {
        this.bus.removeEventListener(event, callback);
      }
      emit(event, detail = {}) {
        this.bus.dispatchEvent(new CustomEvent(event, { detail }));
      }
    }
    window.eventBus = new EventBus()
    </script>

    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <script type="text/javascript">
      window.cookieconsent_options = {
          "message":"This website uses cookies to ensure you get the best experience on our website",
          "dismiss":"Got it!",
          "learnMore":"More info",
          "link":"{% projects_metadata 'imprint' %}",
          "theme":"dark-bottom"};
    </script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
    <!-- End Cookie Consent plugin -->
        <!-- Matomo -->
    <script type="text/javascript">
      var _paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="{% projects_metadata 'matomo_url' %}";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '{% projects_metadata "matomo_id" %}']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->


    {% block scriptHeader %}
    {% endblock %}
</head>

<body id="body" data-searchtype="erw" class="bg-mine">
<div class="hfeed site bg-white" id="page">
    <!-- NAVBAR
================================================== -->
    <!-- ******************* The Navbar Area ******************* -->
      <div class="wrapper-fluid wrapper-navbar sticky-navbar" id="wrapper-navbar" itemscope itemtype="http://schema.org/WebSite">
        <a class="skip-link screen-reader-text sr-only" href="#content">Skip to content</a>
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <div class="row ml-n5 mr-n5">
              <div class="col-md-5">
            <a href="/" class="navbar-brand custom-logo-link w-100 h-100" rel="home" itemprop="url"><!--<h3>PAAS</h3>-->
            <img class="w-100 h-100" src="{%static 'theme/img/MINE_logo.svg' %}"/>
            </a><!-- end custom logo -->
          </div>
          <div class="col-md-7">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse align-items-start justify-content-start" id="navbarSupportedContent">
              <!-- Your menu goes here -->
              <ul id="main-menu" class="navbar-nav mr-0 font-weight-bold flex-column text-uppercase">
                <li class="nav-item"><a title="Mitglieder" href="{% url 'theme:start' %}" class="nav-link p-0">Mitglieder</a></li>
                <li class="nav-item"><a title="Institutionen" href="{% url 'theme:institutions' %}" class="nav-link p-0">Institutionen</a></li>
                <li class="nav-item"><a title="Netzwerke" href="{% url 'theme:contact' %}" class="nav-link p-0">Netzwerke</a></li>
                <li class="nav-item"><a title="Ereignisse" href="{% url 'theme:contact' %}" class="nav-link p-0">Ereignisse</a></li>
              </ul>
              <form class="form-inline my-2 my-lg-0 pt-1 navbar-search-form" method="get" action=" {% if 'institution' in request.path %} /institutionen/search {% else %} /search {% endif %} " role="search">
                <input class="form-control navbar-search rounded-0 border-0" id="s" name="q" type="text" placeholder="" value="" autocomplete="off">
                <button type="submit" class="navbar-search-icon pt-1">
                  <i data-feather="search"></i>
                </button>
              </form>
              <ul id="second-menu" class="navbar-nav mr-0 align-top pl-5 flex-column text-uppercase font-weight-light">
                <li class="nav-item"><a title="Über" href="{% url 'theme:about' %}" class="nav-link p-0">Über</a></li>
                <li class="nav-item"><a title="Kontakt" href="{% url 'theme:contact' %}" class="nav-link p-0">Kontakt</a></li>
                <li class="nav-item"><a title="Kontakt" href="{% url 'theme:stories_index' %}" class="nav-link p-0">Stories</a></li>
              </ul>
            </div>
            <!-- .collapse navbar-collapse -->
          </div>
        </div>
          </div>

          <!-- .container -->
        </nav>
        <!-- .site-navigation -->
      </div>
      <!-- .wrapper-navbar end -->
      <div class="h-100">
    {% block content %}{% endblock %}
      </div>
<div>
  
    <div class="footer {% if 'institution' in request.path %} border-mine-institutions {% else %} border-mine {%endif%} mlr-30">
        <div>
            <div class="container">
                <footer>
                  <div class="row">
                    <div class="col-8 footermenu">
                    <ul class="nav list-inline justify-content-between">
                      <li class="pb-1 pl-0 list-inline-item"><small><a title="Impressum" href="{% url 'theme:imprint' %}">Impressum</a></small></li>
                      <li class="pb-1 pl-0 list-inline-item"><small><a title="Impressum" href="{% url 'theme:imprint' %}">Datenschutz</a></small></li>
                      <li class=" pl-0 list-inline-item text-oeaw-blue"><small>&#xa9; Österreichische Akademie der Wissenschaften</small></li>
                    </ul>
                  </div>
                  <div class="col-4 text-right">
                    <i onclick="scrollToTop()" data-feather="arrow-up"></i>
                  </div>
                  </div>
                </footer>
            </div>
        </div>
    </div>   
  </div>
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'theme/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script>
        feather.replace()
    </script>
    <script>
    function scrollToTop() {
      $('body,html').animate({
        scrollTop : 0
    }, 500);
    }
    </script>
    {% block scripts %}
    {% endblock %}
    {% block scripts2 %}
    {% endblock scripts2 %}
</div>
</body>

</html>
