<!DOCTYPE html>
{% load static %}
{% load webpage_extras %}
{% load browsing_extras %}
{% load infos_extras %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %} Geschichte der Akademie {% endblock %}</title>

    <!-- Fundament -->
    <link href="https://shared.acdh.oeaw.ac.at/fundament/dist/fundament/css/fundament.min.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.0/nouislider.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.0/nouislider.min.css" />
    <!-- Custom styles for this template -->
    <script src="https://unpkg.com/feather-icons@4.28.0/dist/feather.min.js"></script>
    <link rel="stylesheet" href="{%static 'theme/css/main.css' %}" />

    <!--
      this global event bus is used as a simple
      means of communication between components.
    -->
    <script type="text/javascript">
    class EventBus {
      constructor() {
        this.bus = document.createElement('fakeelement');
      }
      on(event, callback) {
        this.bus.addEventListener(event, callback)
      }
      off(event, callback) {
        this.bus.removeEventListener(event, callback);
      }
      emit(event, detail = {}) {
        this.bus.dispatchEvent(new CustomEvent(event, { detail }));
      }
    }
    window.eventBus = new EventBus()
    </script>

    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <script type="text/javascript">
      window.cookieconsent_options = {
          "message":"This website uses cookies to ensure you get the best experience on our website",
          "dismiss":"Got it!",
          "learnMore":"More info",
          "link":"{% projects_metadata 'imprint' %}",
          "theme":"dark-bottom"};
    </script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
    <!-- End Cookie Consent plugin -->
        <!-- Matomo -->
    <script type="text/javascript">
      var _paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="{% projects_metadata 'matomo_url' %}";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '{% projects_metadata "matomo_id" %}']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->


    {% block scriptHeader %}
    {% endblock %}
</head>

<body id="body" data-searchtype="erw" class="oebl-background-grey">
<div class="hfeed site bg-white" id="page">
    <!-- NAVBAR
================================================== -->
    <!-- ******************* The Navbar Area ******************* -->
      <div class="wrapper-fluid wrapper-navbar sticky-navbar" id="wrapper-navbar" itemscope itemtype="http://schema.org/WebSite">
        <a class="skip-link screen-reader-text sr-only" href="#content">Skip to content</a>
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <div class="row">
              <div class="col-md-5">
            <a href="/" class="navbar-brand custom-logo-link" rel="home" itemprop="url"><!--<h3>PAAS</h3>-->
            <img src="{%static 'theme/img/MINE_logo.svg' %}"/>
            </a><!-- end custom logo -->
          </div>
          <div class="col-md-7">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse align-items-start justify-content-start" id="navbarSupportedContent">
              <!-- Your menu goes here -->
              <ul id="main-menu" class="navbar-nav mr-0 font-weight-bold">
                <!--<li class="nav-item dropdown">
                  <a title="Dropdown" href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">Entities <span class="caret"></span></a>
                  <ul class=" dropdown-menu" role="menu">
                    <li class="nav-item dropdown-submenu">
                        {% for ent in entities_list %}
                      <a title="{{ent|title}}" href="{% url 'apis:apis_entities:generic_entities_list' ent %}" class="nav-link">{{ent|title}}</a>
                      {% endfor %}
                      <a title="URIS" href="{% url 'apis:apis_metainfo:uri_browse' %}" class="nav-link">URIs</a>
                    </li>
                  </ul>
                </li>-->
                <!--<li class="nav-item"><a title="Suche" href="{% url 'theme:search' %}" class="nav-link">Suche</a></li>
                <li class="nav-item"><a title="UeberOEBL" href="{% url 'theme:about' %}" class="nav-link">Über</a></li>
                <li class="nav-item"><a title="Kontakt" href="{% url 'theme:contact' %}" class="nav-link">Kontakt</a></li>
                -->
                <li class="nav-item"><a title="Mitglieder" href="{% url 'theme:search' %}" class="nav-link">Mitglieder</a></li>
                <li class="nav-item"><a title="Institutionen" href="{% url 'theme:about' %}" class="nav-link">Institutionen</a></li>
                <li class="nav-item"><a title="Netzwerke" href="{% url 'theme:contact' %}" class="nav-link">Netzwerke</a></li>
                <li class="nav-item"><a title="Ereignisse" href="{% url 'theme:contact' %}" class="nav-link">Ereignisse</a></li>
              </ul>
              <form class="form-inline my-2 my-lg-0 pt-1 navbar-search-form" method="get" action="/search" role="search">
                <input class="form-control navbar-search bg-mine border-0" id="s" name="q" type="text" placeholder="" value="" autocomplete="off">
                <button type="submit" class="navbar-search-icon pt-1">
                  <i data-feather="search"></i>
                </button>
              </form>
              <ul id="second-menu" class="navbar-nav mr-0 align-top pl-5">
                <li class="nav-item"><a title="Über" href="{% url 'theme:search' %}" class="nav-link">Über</a></li>
                <li class="nav-item"><a title="Kontakt" href="{% url 'theme:search' %}" class="nav-link">Kontakt</a></li>
              </ul>
            </div>
            <!-- .collapse navbar-collapse -->
          </div>
        </div>
          </div>

          <!-- .container -->
        </nav>
        <!-- .site-navigation -->
      </div>
      <!-- .wrapper-navbar end -->
      <div class="h-100">
    {% block content %}{% endblock %}
      </div>
<div>
    <div class="footer border-mine mlr-30">
        <div>
            <div class="container">
                <footer>
                  <div class="row">
                    <div class="col-8 footermenu">
                    <ul class="nav list-inline justify-content-between">
                      <li class="pb-1 pl-0 list-inline-item"><small><a title="Impressum" href="{% url 'theme:imprint' %}">Impressum</a></small></li>
                      <li class="pb-1 pl-0 list-inline-item"><small><a title="Impressum" href="{% url 'theme:imprint' %}">Datenschutz</a></small></li>
                      <li class=" pl-0 list-inline-item"><small class="text-oeaw-blau">&#xa9; Österreichische Akademie der Wissenschaften</small></li>
                    </ul>
                  </div>
                  <div class="col-4 text-right">
                    <i onclick="scrollToTop()" data-feather="arrow-up"></i>
                  </div>
                  </div>
                </footer>
            </div>
        </div>
    </div>   
  </div>
    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'theme/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script>
        feather.replace()
    </script>
    <script>
    function scrollToTop() {
      $('body,html').animate({
        scrollTop : 0
    }, 500);
    }
    </script>
    {% block scripts %}
    {% endblock %}
    {% block scripts2 %}
    {% endblock scripts2 %}
</div>
</body>

</html>
