{% extends "theme/base.html" %}
{% load static %}

{% block content %}
<div class="container pt-3">
        <article class="card col-md-12 flat-style p-5">
                <div class="card-inner card-vertical  d-flex flex-column justify-content-between">
    <h1>Kontakt
    </h1>
    <p>Austrian Centre for Digital Humanities and Cultural Heritage (ACDH-CH) / Österreichische Akademie der Wissenschaften
    <br><br> Forschungsbereich Österreichisches Biographisches Lexikon<br><br> Hollandstraße 11-13 /
        1. Stock<br> 1020 Wien<br> T +43 1 51581-2607<br> <br> E <a
            href="mailto:biolex@oeaw.ac.at">biolex@oeaw.ac.at</a><br> W <a
            href="https://www.oeaw.ac.at/inz/ueber-das-inz/forschungsbereiche/oesterreichisches-biographisches-lexikon/">https://www.oeaw.ac.at/inz/ueber-das-inz/forschungsbereiche/oesterreichisches-biographisches-lexikon/</a><br><br>
        Verlag der Österreichischen Akademie der Wissenschaften<br> Austrian Academy of Sciences Press<br> Dr. Ignaz
        Seipel-Platz 2<br> 1010 Wien<br> Austria<br> E <a href="mailto:verlag@oeaw.ac.at">verlag@oeaw.ac.at</a><br> W <a
            href="http://verlag.oeaw.ac.at">http://verlag.oeaw.ac.at</a><br> T +43 1 51581 3416<br> F +43 1 51581
        3400</p>
</div></article></div>
{% endblock content %}
