{% load custom_tags %}
{% block scriptHeader %}
<style>

.sk-fading-circle {
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
          animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); 
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); 
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; 
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; 
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; 
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; 
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; 
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; 
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; 
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; } 
}

</style>
<script src="https://cdn.jsdelivr.net/npm/google-palette@1.1.0/palette.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/xlsx@0.17.1/dist/xlsx.full.min.js"></script>
{% endblock scriptHeader %}
<script type="module">
    import 'https://cdn.jsdelivr.net/npm/chart.js'

    const data = [];
    const cfg = {
        type: 'line',
        datasets: data,
        options: {
            parsing: {
                xAxisKey: 'jahr',
                yAxisKey: 'data.absolut'
    },
    elements: {
                    point:{
                        radius: 0
                    }
                },
    scales: {
      xAxis: {
        // The axis for this scale is determined from the first letter of the id as `'x'`
        // It is recommended to specify `position` and / or `axis` explicitly.
        type: 'linear',
      ticks: {
        callback: function(value, index, values) {
                        return value.toString();
                    }
      },
      title: {
        display: true,
        text: "Jahr"
      }
      },
      yAxis: {
        // The axis for this scale is determined from the first letter of the id as `'x'`
        // It is recommended to specify `position` and / or `axis` explicitly.
        type: 'linear',
      title: {
        display: true,
        text: "Mitglieder"
      }
      },
    },
    plugins: {
        legend: {
            display: false
        },
        tooltip: {
          callbacks: {
            label: (item) => {
              var exten
              if(item.raw.data.absolut > 1) {exten = 'er'} else {exten = ''}
            return `${item.dataset.label}: ${item.raw.data.absolut} Mitglied${exten}`
            },
            title: (items) => {
              return `Jahr ${items[0].raw.jahr}`
            }
          }
        }
    }
}
    };

function hexToRgb(hex) {
  var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
  return result ? {
    r: parseInt(result[1], 16),
    g: parseInt(result[2], 16),
    b: parseInt(result[3], 16)
  } : null;
}

function convertData(data){
    var datasets = []
    var colors = data.results.length
    var seq = palette('tol-sq', colors);
    data.results.forEach(function callback(element, index) {
        const c1 = hexToRgb(`#${seq[index]}`)
        var rgba = `rgba(${c1['r']}, ${c1['g']}, ${c1['b']},1)`
        const data_search = document.getElementById('kommissionen_search').value
        let hidden = false
        if (data_search.length > 0){
            if (!element.name.toLowerCase().includes(data_search.toLowerCase())){
              hidden = true
            }
        }
        datasets.push({
            label: element.name,
            data: element.mitglieder,
            borderColor: `rgba(${c1['r']}, ${c1['g']}, ${c1['b']},0.8)`,
            tension: 0.4,
            hidden: hidden
        })
    });
    //console.log(datasets)
    //chart.data.datasets.push(...datasets)
    //chart.update()
    //console.log(chart)
    return [datasets, data]
}

const fetch_retry = async (url, options, n) => {
    try {
        return await fetch(url, options)
    } catch(err) {
        if (n === 1) throw err;
        return await fetch_retry(url, options, n - 1);
    }
};


  async function fetch_commission_data (url) { 
  const data2 = await fetch_retry(url, {}, 3)
    .then(response => response.json())
    .then(convertData)
    .then(datasets => {
        window.chart_kommissionen.data.datasets.push(...datasets[0]);
        window.chart_kommissionen.update()
        return datasets[1]})
  if (data2.next !== null) {
     fetch_commission_data(data2.next)
  } else {
    document.getElementById("spinner_load_kommissionen").style.visibility = "hidden"
  }
}


  function debounce(func, wait, immediate) {
	var timeout;
	return function() {
		var context = this, args = arguments;
		var later = function() {
			timeout = null;
			if (!immediate) func.apply(context, args);
		};
		var callNow = immediate && !timeout;
		clearTimeout(timeout);
		timeout = setTimeout(later, wait);
		if (callNow) func.apply(context, args);
	};
};

function downloadPngKommissionen(event) {
    event.preventDefault()
    const today = new Date().toISOString().slice(0, 10)
    const url = window.chart_kommissionen.toBase64Image();
    var a = document.createElement("a");
    a.href = url;
    a.setAttribute("download", `kommissionen_mitglieder_${today}.png`);
    a.click();  
}

function downloadXls(event, fending){
    event.preventDefault()
    var wb = XLSX.utils.book_new();
        const data_download = []
        window.chart_kommissionen.data.datasets.forEach(item => {
            const res = {}
            res.label = item.label
            item.data.forEach(d => {
                res[d.jahr] = d.data.absolut
            })
            data_download.push(res)
        })
        var ws = XLSX.utils.json_to_sheet(data_download);
        XLSX.utils.book_append_sheet(wb, ws, 'Kommissionen')
        let today = new Date().toISOString().slice(0, 10)
        XLSX.writeFile(wb, `kommissionen_mitglieder_${today}.${fending}`) 
}


document.addEventListener("DOMContentLoaded", function() {  
    const download_button = document.getElementById("download_xls_kommissionen")
    download_button.addEventListener("click", function(event){downloadXls(event, "xlsx")})
    const download_button_csv = document.getElementById("download_csv_kommissionen")
    download_button_csv.addEventListener("click", function(event){downloadXls(event, "csv")})
    const download_button_png = document.getElementById("download_png_kommissionen")
    download_button_png.addEventListener("click", function(event){downloadPngKommissionen(event)})
    window.chart_kommissionen = new Chart(
    document.getElementById('chart_kommissionen'),
    cfg
  );
  const search_box = document.getElementById('kommissionen_search');
search_box.addEventListener('input', debounce (function (event) {
    const search_box = document.getElementById('kommissionen_search');
    const filtered_datasets = window.chart_kommissionen.data.datasets.filter(obj => {
      return obj.label.toLowerCase().includes(search_box.value.toLowerCase())
    })
    window.chart_kommissionen.data.datasets.forEach(ds => {
              ds.hidden = true
    })
    filtered_datasets.forEach(ds => {
              ds.hidden = false
    })
        window.chart_kommissionen.update()
    
}, 250)) ;
  fetch_commission_data("/analyze/api/kommissionen?format=json&limit=50")
});

</script>

<div>
      <div class="dropdown">
        <button class="btn btn-light" type="button" id="dropdownMenuKommissionen" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: white; float: right;">
          <i data-feather="menu" style="margin: 5px"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuKommissionen">
          <button id="download_xls_kommissionen" class="dropdown-item" type="button"><i data-feather="download" style="margin-right: 5px"></i>Excel</button> 
          <button id="download_csv_kommissionen" class="dropdown-item" type="button"><i data-feather="download" style="margin-right: 5px"></i>CSV</button> 
          <button id="download_png_kommissionen" class="dropdown-item" type="button"><i data-feather="download" style="margin-right: 5px"></i>PNG</button>
        </div>
      </div>
    <canvas id="chart_kommissionen"></canvas>
    <div id="form_kommissionen_search" class="row">
      <div class="col-md-6">
      <input id="kommissionen_search" class="form-control" placeholder="Filter" aria-label="Filter" style="border-color: #f1f1f1;">
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-2">
        <div class="sk-fading-circle" id="spinner_load_kommissionen" style="float: right;">
          <div class="sk-circle1 sk-circle"></div>
          <div class="sk-circle2 sk-circle"></div>
          <div class="sk-circle3 sk-circle"></div>
          <div class="sk-circle4 sk-circle"></div>
          <div class="sk-circle5 sk-circle"></div>
          <div class="sk-circle6 sk-circle"></div>
          <div class="sk-circle7 sk-circle"></div>
          <div class="sk-circle8 sk-circle"></div>
          <div class="sk-circle9 sk-circle"></div>
          <div class="sk-circle10 sk-circle"></div>
          <div class="sk-circle11 sk-circle"></div>
          <div class="sk-circle12 sk-circle"></div>
        </div>
      </div>
    </div>
</div>