{% load static %}
<div>
    <div id="llmap"></div>
   <!-- <script src="{% static 'theme/js/lifeline.umd.js' %}"></script> -->
    <script type="module">
    

   /* const dataEndpoints = 
    ['/apis/api2/lifepath/{{object.pk}}/',
     '/apis/api2/getrelatedplaces/?person_id={{object.pk}}']


    const requests = dataEndpoints.map((url) => fetch(url));

    Promise.all(requests).then((res) => {
        Promise.all([res[0].json(), res[1].json()])
    .then((result) =>
        {  
            ReactDOM.render(
                React.createElement(lifeline.LifelineMap, {
            lifepath: result[0],
            mapdata: result[1]
          }),
          document.getElementById('llmap')
          )
        }
          )})
        
    
*/

    </script>
</div>