{% extends "theme/base.html" %}

{% block scriptHeader %}


<script crossorigin src="https://unpkg.com/preact@10.6.3/dist/preact.umd.js"></script>
<script crossorigin src="https://unpkg.com/preact@10.6.3/hooks/dist/hooks.umd.js"></script>
<script crossorigin src="https://unpkg.com/preact@10.6.3/compat/dist/compat.umd.js"></script>

<script crossorigin src="https://unpkg.com/three@0.132.2/build/three.min.js"></script>
<script>
    var React = preactCompat
</script>
<script src="https://unpkg.com/@acdh/network-visualization@0/lib/network-visualization.umd.js"></script>

<script>
    window.nouislider = window.noUiSlider
</script>
<script src="https://unpkg.com/nouislider-react@3.4.1/dist/nouislider-react.umd.production.min.js"></script>


{% load static %}
{% load webpage_extras %}
{% load custom_tags %}
<style>
    /* #loader {
        position: absolute;
        top: 40%;
        left: 50%;
    }*/

    #vis>div:nth-child(2) {
        position: relative !important;
    }

    [data-nerv-filter-controls] {
        right: 0;
        position: relative;
    }

    [data-nerv-legend] {
        position: relative;
    }

    .popoverInnerWrapper {
        display: flex;
        flex-direction: column;
    }


    .node-list-link {
        color: rgb(220 53 69);
        font-size: 0.8em;
    }

    #loadmore {
        background: white;
        border: 1px solid rgb(221, 221, 221);
        font-size: 12px;
    }

    #loadmoreloader {
        z-index:2;
        background:rgb(255,255,255,0.9)
    }

    #ntw-metainfo [data-nerv-legend] {
        position: relative;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .footer {
        margin-top: 0;
    }
</style>
{% endblock scriptHeader %}
{% block content %}
<div id="loader" class="h-75 d-flex">
    <div class="spinner-grow d-block my-auto" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="container">
    
        <div id="visualization" class="mt-5 mx-3">

        </div>
   
    <div id="vis" class="position-relative" style="overflow: hidden; flex: 1 1;">
        <div id="loadmoreloader" class="h-100 w-100 d-none position-absolute">
            <div class="spinner-grow d-block my-auto" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script src="{%static 'theme/js/helpers.network.js'%}"></script>
<script>

    const { createElement: h, render, useState, useRef, createPortal } = preactCompat
    const { SelectionControls, Visualization, ExportButton, Legend, FilterControls } = NetworkVisualization

    const type_definitions = {
        "Person": {
            id: "Person",
            label: "Person",
            color: "#DB2B39"
        },
        "Place": {
            id: 'Place',
            label: 'Ort',
            color: 'rebeccapurple',
        },

        "Institution": {
            id: 'Institution',
            label: 'Institution',
            color: '#344055',
        }
    }

    const loadMoreNodes = (nextPage, setNextPage, graph, setGraph, setLoadedEdges, loadedEdges) => {
        // url.searchParams.set('offset', parseInt(offset) + parseInt(limit));
        if (nextPage !== null) {
            document.getElementById("loadmoreloader").classList.remove("d-none");
            document.getElementById("loadmoreloader").classList.add("d-flex");
            fetch(nextPage)
                .then(response => {
                    if (!response.ok) {
                        throw new Error(response.statusText)
                    }
                    let loader = document.getElementById("loader");
                    if (loader) {
                        loader.remove();
                    }
                    return response.json()
                }).then(data => {
                    setNextPage(data.next)
                    additionalNodes = generateGraphFromApisRelations(type_definitions, data.results);
                    mergeGraphs(graph, additionalNodes, setGraph)
                    setLoadedEdges(loadedEdges + data.results.length)
                    document.getElementById("loadmoreloader").classList.remove("d-flex");
                    document.getElementById("loadmoreloader").classList.add("d-none");
                })
        }
    }

    const mergeGraphs = (graph, additionalNodes, setGraph) => {
        const merged = { ...graph, ...additionalNodes };
        setGraph(merged);
    }

    const generateGraphFromApisRelations = (typedefinitions, relations) => {
        var match_entities = /entities\/(\w+)/;
        let graph = { edges: {}, nodes: {}, types: { edges: {}, nodes: {} } }

        let type_source
        let type_target
        var base_url = window.location;
        relations.forEach(relation => {
            const { id, source, target, relation_type: relationType } = relation
            type_source = match_entities.exec(source.url)[1]
            type_target = match_entities.exec(target.url)[1]
            type_source = type_source.charAt(0).toUpperCase() + type_source.slice(1)
            type_target = type_target.charAt(0).toUpperCase() + type_target.slice(1)
            graph.edges[id] = {
                id,
                source: source.id,
                target: target.id,
                type: relationType.id,
            }
            graph.nodes[source.id] = {
                id: source.id,
                label: source.label,
                type: type_source,
                url: `${base_url.protocol}//${base_url.host}/${type_source.toLowerCase()}/${source.id}`
            }
            graph.nodes[target.id] = {
                id: target.id,
                label: target.label,
                type: type_target,
                url: `${base_url.protocol}//${base_url.host}/${type_target.toLowerCase()}/${target.id}`
            }
            graph.types.edges[relationType.id] = {
                id: relationType.id,
                label: relationType.label,
            }
        })
        graph.types.nodes[type_source] = typedefinitions[type_source]
        graph.types.nodes[type_target] = typedefinitions[type_target]
        return graph;
    }

    const getNetworkViz = (rel_type, offset) => {
        let urlParams = new URLSearchParams(window.location.search);
        const endpoint = '/api/network/';
        let selectedNodes = {};
        let nodesDetails = {};
        const limit = 1000;
        urlParams.append('format', 'json+net');
        urlParams.append('limit', limit)
        urlParams.append('offset', offset)
        console.log(window.location.search)
        let url = new URL(endpoint, window.location.origin)
        console.log(urlParams.get('q'))
        urlParams.forEach((value, key) => {
            console.log(key);
            url.searchParams.set(key, value)
        });
        console.log(url);
        fetch(url)
            .then(response => {
                if (!response.ok) {
                    throw new Error(response.statusText)
                }
                let loader = document.getElementById("loader");
                if (loader) {
                    loader.remove();
                }
                return response.json()
            })
            .then(data => {

                const graphFromApis = generateGraphFromApisRelations(type_definitions, data.results)
                const portalContainer = document.getElementById('controls');

                const Applet = () => {
                    const [charge, setCharge] = useState(-50)
                    const [distance, setDistance] = useState(10)
                    const [nodeInfo, setNodeInfo] = useState({})
                    const [nodeDetails, setNodeDetails] = useState({})
                    const [graph, setGraph] = useState(graphFromApis)
                    const [loading, setLoader] = useState(false)
                    const [loadedEdges, setLoadedEdges] = useState(limit > data.results.length ? data.results.length : limit)
                    const [nextPage, setNextPage] = useState(data.next)
                    const graphRef = useRef();


                    const setValue = (_value, cb) => {
                        const value = parseInt(_value, 10)
                        if (Number.isInteger(value)) {
                            cb(value)
                        }
                    }

                    return h(
                        'div',
                        {
                            className: "position-relative row justify-content-between bg-mine border-mine pt-2"
                        },
                        [
                            h(FilterControls, {
                                graph: graph,
                                centerAt: false,
                                children: props => [
                                    h('div', {
                                        className: 'ml-2 pt-3'
                                    },
                                        h(ReactNouislider, {
                                            onUpdate: setCharge,
                                            tooltips: true,
                                            range: { min: -120, max: 0 },
                                            start: -60,
                                            style: { height: '4px', width: '80px' }
                                        }),
                                        h('small', undefined, 'Charge')),
                                    h('div', {
                                        className: 'ml-2 pt-3'
                                    },
                                        h(ReactNouislider, {
                                            onUpdate: setDistance,
                                            tooltips: true,
                                            range: { min: 0, max: 100 },
                                            start: 30,
                                            style: { height: '4px', width: '80px' }
                                        }),
                                        h('small', undefined, 'Distance')),
                                    h('div', {
                                        className: 'pl-1'
                                    },

                                        h('small', { className: 'd-block' }, `${loadedEdges} von ${data.count} Verbindungen geladen`),
                                        h('button', {
                                            id: 'loadmore',
                                            disabled: loadedEdges == data.count,
                                            onClick: loadMoreNodes.bind(this, nextPage, setNextPage, graph, setGraph, setLoadedEdges, loadedEdges)
                                        }, 'mehr laden')),
                                        h('div', {
                                            className:"order-5"
                                        },
                                        h('ul', {
                                            'data-nerv-legend': true,
                                            className: 'list-unstyled',
                                            children: createLegend(graph.types.nodes)
                                        },
                                        )
                                    ),

                                    createPortal(h(Visualization, {
                                        ref: graphRef,
                                        graph: graph,
                                        style: {
                                            right: 0
                                        },
                                        dagMode: null,
                                        selectedNodeIds: props.filteredNodeIds,
                                        showNeighborsOnly: Boolean(props.filteredNodeIds.size),
                                        colors: { selected: '#a8a8ad' },
                                        onNodeClick: handleNodeClick(createPopoverContent),
                                        simulation: { charge, distance },
                                    }), document.getElementById("vis"))], graph: graph
                            }
                            )]
                    )

                }
                render(h(Applet), document.getElementById("visualization"))


            }).catch(error => {
                console.error(error)
            })
    };

    function createLegend(nodeTypes) {
        if (!(undefined in nodeTypes)) {
            console.log(nodeTypes);
        const listElements = [];
        for (const [key, value] of Object.entries(nodeTypes)) {
            listElements.push(h('li', {
                className: 'text-nowrap',
                children: [h('span', {
                    style: `background:${value.color}`
                }), key]
            }))
            console.log(value.color);
        }

        return listElements;
    }
    }


</script>

<script>
    window.onload = getNetworkViz('personinstitution', 0)
</script>
{% endblock scripts %}