<div class="card-wrapper">
    <article class="card col-md-4 flat-style">
        <div class="card-inner partnercard card-vertical  d-flex flex-column justify-content-between">
            <div class="entry-content">
                <div class="row">

                    <div class="col-12">
                        <a href="https://www.oeaw.ac.at/acdh/" target="_blank" rel="noopener" aria-label="ACDH">
                            <img src="https://fundament.acdh.oeaw.ac.at/common-assets/images/acdh_logo.svg" alt="ACDH" title="Austrian Centre for Digital Humanities (ACDH) of the Austrian Academy of Sciences"/>
                        </a>
                    </div>
                    <div class="col-12">
                        <div>
                            <p>Austrian Centre for Digital Humanities and Cultural Heritage (ACDH-CH) of the Austrian Academy of Sciences</p>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="entry-footer">
            </footer>
        </div>
    </article>
</div>