{% extends "theme/base.html" %}
{% block scriptHeader %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script crossorigin src="https://unpkg.com/three@latest/build/three.min.js"></script>
<script crossorigin
  src="https://unpkg.com/@acdh/network-visualization@latest/lib/network-visualization.umd.js"></script>
{% endblock %}
{% load static %}
{% load webpage_extras %}
{% load custom_tags %}
{% block title %}{{ object }}{% endblock %}
{% block content %}
<div id="contentDetails" class="container pt-5">
  <div class="row bio-outer p-5">
    <div class="col-md-12 pb-4">
      <div class="row justify-content-between">
        <div class="col-md-auto">
          {% if prev.id %}
          <a class="card-link preventity" href="{% url 'theme:person-detail' pk=prev.id %}" title="{{ prev }}">
            &larr; {{ prev }}
          </a>
          {% endif %}
        </div>
        <div class="col"></div>
        <div class="col-md-auto">
          {% if next.id %}
          <a class="card-link nextentity" href="{% url 'theme:person-detail' pk=next.id %}" title="{{ next }}">
            {{ next }} &rarr;
          </a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-12 pr-5">
      <article class="bio">
        <div class="entry-header">
          <div class="row">
            <div class="col">
              <h2>{{ object.name }}{%if object.first_name %}, {{ object.first_name }}{% endif %}</h2>
            </div>
          </div>
        </div>
        <div id="main" class="card-body">
          <div class="row">
            <div class="col-md-4">
              {% if kurzinfo %}<div class="mt-5 text-secondary">{{ kurzinfo }}</div>{% else %}
              <p class="profession-date-of-birth">
                {% if profession %}<span style="text-align: left">{{ profession }}</span> <br />{% endif %}
                <span class="font-weight-normal"><abbr title="geboren">*</abbr> {% if place_of_birth is not None %}{{place_of_birth}}, {% endif %}{{object.start_date_written }}</span><br />
                {% if object.end_date_written is not None %}<span class="font-weight-normal"><abbr
                    title='gestorben'>&dagger;</abbr> {% if place_of_death is not None %} {{place_of_death}}, {% endif %}{{object.end_date_written }}{% endif %}</span>
                {% endif %}
              </p>
              {% if image %}
              <div class="mb-5 imgcontainer">
                <img style="max-height:300px" src="{% static image %}">
              </div>
              {% endif %}
              <p>
                <b>Mitgliedschaft</b>
                {% if mitgliedschaften %}
              <ul class="relentities">
                {% for x in mitgliedschaften %}
                <li class="pl-0 font-weight-normal">
                  {{x|safe}}
                </li>
                {% endfor %}
              </ul>
              {% endif %}
              </p>
              {% if normdaten %}
              <p>
                <b>Normdaten</b>
              <ul class="uris pl-0">{% for uri in normdaten %}
                <li class="pl-0"><a target="_blank" rel="noopener noreferrer" href="{{uri}}">{{uri}}</a></li>
                {% endfor %}
              </ul>
              </p>
              {% endif %}
              <p>
                <b>Downloads</b>
              <ul class="uris pl-0">
                <li class="pl-0"><a target="_blank" rel="noopener noreferrer"
                    href="/apis/api/entities/person/{{object.pk}}/?format=json">Json</a></li>
                <li class="pl-0"><a target="_blank" rel="noopener noreferrer"
                    href="/apis/api2/entity/{{object.pk}}/?format=rdf%2Bturtle">RDF/Turtle</a></li>
                <li class="pl-0"><a target="_blank" rel="noopener noreferrer"
                    href="/apis/api2/entity/{{object.pk}}/?format=tei">TEI</a></li>
              </ul>
              </p>
            </div>
            <div class="col-md-8">
              <h3 class="mb-4">Der Weg zur Akademiemitgliedschaft</h3>
              {% for key, value in rel_dict_weg_zur_akademie.items %}
              {% if value|length > 0 %}
              <div class="card mt-2 rounded-0">
                <div class="card-header p-0" id="heading{{key}}">
                  <h5 class="mb-0">
                    <button type="button" class="btn btn-link collapsebtn w-100 text-left text-uppercase collapsed"
                      data-toggle="collapse" data-target="#{{key}}" aria-expanded="true" aria-controls="{{key}}">
                      {% normalize_key key %} ({{value|length}})
                      <i class="chevron-down" data-feather="chevron-down"></i>
                    </button>
                  </h5>
                </div>
                <div id="{{key}}" class="collapse" aria-labelledby="heading{{key}}">
                  <div class="card-body p-2 pl-3 pr-3 show-limited-number">
                    <ul class="pl-0 mb-0">
                      {% for ent in value %}
                      <li style=list-style-type:none;">{{ent|safe}}</li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
              <hr />
              <h3 class="mb-4">Akteur/in in der Akademie</h3>
              {% for key, value in rel_dict_in_akademie.items %}
              {% if value|length > 0 %}
              <div class="card mt-2 rounded-0">
                <div class="card-header p-0" id="heading{{key}}">
                  <h5 class="mb-0">
                    <button type="button" class="btn btn-link collapsebtn w-100 text-left text-uppercase collapsed"
                      data-toggle="collapse" data-target="#{{key}}" aria-expanded="true" aria-controls="{{key}}">
                      {% normalize_key key %} ({{value|length}})
                      <i class="chevron-down" data-feather="chevron-down"></i>
                    </button>
                  </h5>
                </div>
                <div id="{{key}}" class="collapse" aria-labelledby="heading{{key}}">
                  <div class="card-body p-2 pl-3 pr-3 show-limited-number">
                    <ul class="pl-0 mb-0">
                      {% for ent in value %}
                      <li style=list-style-type:none;">{{ent|safe}}</li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>

{% endblock content %}
{% block scripts %}
<script>

  document.addEventListener("DOMContentLoaded", function () {
    const urlParams = new URLSearchParams(window.location.search);
    const mapview = urlParams.get('mapview', false);
    window.eventBus.on('apismap.marker.loaded', function () {
      if (mapview) {
        move_map();
      }
    }
    )
  });
</script>
{% endblock %}