<div class="section">
    <span class="font-weight-bold">Downloads</span>
    <ul class="uris pl-0 list-unstyled">
        <li class="pl-0 font-weight-normal"><a target="_blank" rel="noopener noreferrer"
                href="/apis/api/entities/{{type}}/{{object.pk}}/?format=json">Json</a></li>
        <li class="pl-0 font-weight-normal"><a target="_blank" rel="noopener noreferrer"
                href="/apis/api2/entity/{{object.pk}}/?format=rdf%2Bturtle">RDF/Turtle</a></li>
        <li class="pl-0 font-weight-normal"><a target="_blank" rel="noopener noreferrer"
                href="/apis/api2/entity/{{object.pk}}/?format=tei">TEI</a></li>
    </ul>
</div>